{% extends "base.html" %}

{% block content %}
        <section class="container-fluid wrapper text-center">
            <h1 class="main-heading">{{page_title}}</h1>
            <section>
                {% if session['balance_this'] %}
                    <p class="instructions">Balance the chemical equation.</p>
                    <ul class="sub-instructions">
                        <li>Type a coefficient in front of each chemical formula.</li>
                        <li>If a coefficient equals 1, you may fill in that value OR leave the space blank.</li>
                        <li>Use scrap paper to make a counting chart and work out the details!</li>
                    </ul>
                {% else %}
                    <p class="instructions">For the reaction shown below:</p>
                    <ul class="sub-instructions">
                        <li>Enter the chemical formulas for the missing reactants or products.</li>
                        <li>Click <strong><em>Check Answer</em></strong> to receive feedback on your formulas.</li>
                    </ul>
                {% endif %}
            </section>
        </section>
        <hr>
        <section class="container-fluid frame-width text-center bce-table">
            {% with messages = get_flashed_messages(with_categories=True) %}
                <form action="/balancing_practice_2" method="POST">
                    <section class="row">
                        {% if session['balance_this'] %}
                            {# Split reaction into reactant and product sides. #}
                            {% set sides = question[0].split('->') %}
                            {% set reactants = sides[0].split('__') %}
                            {% set products = sides[1].split('__') %}
                            <div class="col" style="text-align: right;">
                                {% for formula in reactants[1:] %}
                                    {% if answers %}
                                        <input type="number" id="entry{{loop.index}}" name="box{{loop.index}}" class="coeff-input" value="{{answers[0][loop.index-1]}}">
                                    {% else %}
                                        <input type="number" id="entry{{loop.index}}" name="box{{loop.index}}" class="coeff-input" placeholder="?">
                                    {% endif %}
                                    <label for="entry{{loop.index}}">{{formula}}</label>
                                {% endfor %}
                            </div>
                            <div class="col-1" style="text-align: center;">
                                &rarr;
                            </div>
                            <div class="col" style="text-align: left;">
                                {% for formula in products[1:] %}
                                    {% if answers %}
                                        <input type="number" id="entry{{loop.index + reactants[1:]|length}}" name="box{{loop.index + reactants[1:]|length}}" class="coeff-input" value="{{answers[0][loop.index + reactants[1:]|length - 1]}}">
                                    {% else %}
                                        <input type="number" id="entry{{loop.index + reactants[1:]|length}}" name="box{{loop.index + reactants[1:]|length}}" class="coeff-input" placeholder="?">
                                    {% endif %}
                                    <label for="entry{{loop.index + reactants[1:]|length}}">{{formula}}</label>
                                {% endfor %}
                            </div>
                        {% else %}
                            {# Split reaction into reactant and product sides. #}
                            {% set sides = question[1].split('->') %}
                            {% set reactants = sides[0].split('+') %}
                            {% set products = sides[1].split('+') %}
                            <div class="col-4" style="text-align: right;">
                                {% for formula in reactants %}
                                    {% if 'X' not in formula %}
                                        <span>{{formula}}</span>
                                    {% else %}
                                        {% if answers %}
                                            <input onkeyup="display(this,0)" type="text" name="box0" class="formula-input" value="{{answers[0]}}" required>
                                        {% else %}
                                            <input onkeyup="display(this,0)" type="text" name="box0" class="formula-input" placeholder="?" required>
                                        {% endif %}
                                    {% endif %}
                                    {% if reactants.index(formula) != reactants|length - 1 %}
                                        <span style="text-align: center;"> + </span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-1" style="text-align: center;">
                                &rarr;
                            </div>
                            <div class="col-4" style="text-align: left;">
                                {% if session['num_blanks'] == 1 %}
                                    {% for formula in products %}
                                        {% if 'X' not in formula %}
                                            <span>{{formula}}</span>
                                        {% else %}
                                            {% if answers %}
                                                <input onkeyup="display(this,0)" type="text" name="box0" class="formula-input" value="{{answers[0]}}" required>
                                            {% else %}
                                                <input onkeyup="display(this,0)" type="text" name="box0" class="formula-input" placeholder="?" required>
                                            {% endif %}
                                        {% endif %}
                                        {% if products.index(formula) != products|length - 1 %}
                                            <span style="text-align: center;"> + </span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% if answers %}
                                        <input onkeyup="display(this,0)" type="text" name="box0" class="formula-input" value="{{answers[0]}}" required>
                                        <span style="text-align: center;"> + </span>
                                        <input onkeyup="display(this,1)" type="text" name="box1" class="formula-input" value="{{answers[1]}}" required>
                                    {% else %}
                                        <input onkeyup="display(this,0)" type="text" name="box0" class="formula-input" placeholder="?" required>
                                        <span style="text-align: center;"> + </span>
                                        <input onkeyup="display(this,1)" type="text" name="box1" class="formula-input" placeholder="?" required>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <section class="col-3">
                                <p class="frame-text">Formula: <span id="dynamicFormula_0" for="box0" style="color:purple"></span></p>
                                {% if session['num_blanks'] == 2 %}
                                    <p class="frame-text">Formula: <span id="dynamicFormula_1" for="box1" style="text-align: left; color:purple"></span></p>
                                {% endif %}
                            </section>
                        {% endif %}
                        <section class="row">
                            {% if messages %}
                                {% set message = messages[0] %}
                                <p class='{{message[0]}}' style="font-size: 1.3vw">{{message[1]}}</p>
                            {% endif %}
                        </section>
                    </section>
                    <br>
                    <section class="container-fluid wrapper text-center button-box">
                        <a class="btn btn-info dynamic-button" href="balancing_practice_2" role="button">New Reaction</a>
                        {% if session['check_answers_button'] %}
                            <button type="submit" class="btn btn-success dynamic-button">Check Answer</button>
                        {% endif %}
                        <a class="btn btn-primary dynamic-button" href="/" role="button">Main Menu</a>
                    </section>
                </form>
            {% endwith %}
        </section>
        <hr>
        <section class="container-fluid frame-width text-center bce-table">
            <section class="row">
                <section class="col">
                    <p class="record">Formula Progress = {{session['correct_formulas']}}/{{session['num_formulas']}} ({{formula_percentage}}%)</p>
                </section>
                <section class="col">
                    <p class="record">Balancing Progress = {{session['numCorrect']}}/{{session['num_attempted']}} ({{rxn_percentage}}%)</p>
                </section>
            </section>
        </section>
        <script>
            function display(entry, index)
            {
                var k=entry.value;
                var result = '';
                digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
                for (char in k){
                    if (k[char] in digits){
                        result += k[char].sub();
                    }
                    else{
                        result += k[char];
                    }
                }
                document.getElementById("dynamicFormula_"+index.toString()).innerHTML = result;
            }
        </script>

{% endblock %} 