{% extends "base.html" %}

{% block content %}
    <section class="container-fluid wrapper text-center">
        <h1 class="main-heading">{{page_title}}</h1>
        <h2 class="subheading">{{subheading}}</h2>
        <h3>Nothing here yet!</h3>
        <section>
            <p class="instructions">Instructions go here...</p>
        </section>
    </section>
    <section class="container wrapper text-center">
        {% with messages = get_flashed_messages(with_categories=True) %}
            <form action="/balancing_practice_2" method="POST">
                <table class="table bce-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col" style="width: 2%;">#</th>
                            <th scope="col" style="width: 35%;"></th>
                            <th scope="col" style="width: 2%;">Reaction</th>
                            <th scope="col" style="width: 35%;"></th>
                            <th scope="col" style="width: 26%;">Feedback</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in questions %}
                            {# Split reaction into reactant and product sides. #}
                            {% set sides = question[1].split('->') %}
                            {% set reactants = sides[0].split('__') %}
                            {% set products = sides[1].split('__') %}
                            <tr>
                                <th scope="row">{{question[0]}}</th>
                                <td style="text-align: right;">
                                    {% for formula in reactants[1:] %}
                                        {% if answers %}
                                            <input type="number" id="question{{question[0]}}_{{loop.index}}" name="box{{question[0]}}_{{loop.index}}" class="coeff-input" value="{{answers[question[0]-1][loop.index-1]}}">
                                        {% else %}
                                            <input type="number" id="question{{question[0]}}_{{loop.index}}" name="box{{question[0]}}_{{loop.index}}" class="coeff-input" placeholder="?">
                                        {% endif %}
                                        <label for="question{{question[0]}}_{{loop.index}}">{{formula}}</label>
                                    {% endfor %}
                                </td>
                                <td style="text-align: center;">
                                    &rarr;
                                </td>
                                <td style="text-align: left;">
                                    {% for formula in products[1:] %}
                                        {% if answers %}
                                            <input type="number" id="question{{question[0]}}_{{loop.index + reactants[1:]|length}}" name="box{{question[0]}}_{{loop.index + reactants[1:]|length}}" class="coeff-input" value="{{answers[question[0]-1][loop.index + reactants[1:]|length - 1]}}">
                                        {% else %}
                                            <input type="number" id="question{{question[0]}}_{{loop.index + reactants[1:]|length}}" name="box{{question[0]}}_{{loop.index + reactants[1:]|length}}" class="coeff-input" placeholder="?">
                                        {% endif %}
                                        <label for="question{{question[0]}}_{{loop.index + reactants[1:]|length}}">{{formula}}</label>
                                    {% endfor %}
                                </td>
                                <td style="text-align: left;">
                                    {% if messages %}
                                        {% set item = questions.index(question) %}
                                        {% set message = messages[item] %}
                                        <p class='{{message[0]}}' style="font-size: 1.3vw">{{message[1]}}</p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <section class="container-fluid wrapper text-center button-box">
                    <a class="btn btn-info dynamic-button" href="/balancing_practice" role="button">New Reactions</a>
                    <button type="submit" class="btn btn-success dynamic-button">Check Answers</button>
                    <a class="btn btn-primary dynamic-button" href="/" role="button">Main Menu</a>
                </section>
            </form>
        {% endwith %}
    </section>
    <hr>
    <p class="record">Progress = {{session['numCorrect']}}/{{session['num_attempted']}} ({{percentage}}%)</p>
{% endblock %} 