{% extends "tutorials_base.html" %}

{% block content %}
    <section class="wrapper text-center">
        <h2 class="subheading">{{subheadings[page-1]}}</h2>
        <section class="container-fluid frame-width">
            {% if page == 1 %}
                <section class="row justify-content-center">
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Rearranging Atoms</h3>
                        <ul class="frame-text text-left bullets">
                            <li>Matter can be neither created nor destroyed in a normal chemical process.</li>
                            <li>Atoms are only <em>rearranged</em> during a reaction.</li>
                        </ul>
                        <video class="border border-dark intro-vid" width="100%" height="auto" controls>
                            Video goes here!
                        </video>
                    </section>
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Conservation Questions</h3>
                        <ol class="frame-text text-left bullets">
                            <li>For the reaction 4Fe + 3O<sub>2</sub> -> 2Fe<sub>2</sub>O<sub>3</sub>, 1.65 g of iron reacts to form 2.36 g of Fe<sub>2</sub>O<sub>3</sub>. <strong>What mass of O<sub>2</sub> reacted?</strong></li>
                            <li>A student dissolves 1.0 g of table salt (NaCl) into 50.0 g of water (H<sub>2</sub>O). <strong>The mass of the mixture after dissolving is ___.</strong>
                                <ol type="a">
                                    <li style="color:purple;">More than 51.0 g</li>
                                    <li style="color:purple;">Less than 51.0 g</li>
                                    <li style="color:purple;">51.0 g</li>
                                </ol>
                            </li>
                        </ol>
                        <p class="d-inline-flex gap-1">
                            <button class="btn btn-info reveal-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Reveal Answers
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="frame-text text-left">
                                <ol class="bullets">
                                    <li>Mass of reactants = Mass of products, so g Fe + g O<sub>2</sub> = g Fe<sub>2</sub>O<sub>3</sub>.<br>2.36 g Fe<sub>2</sub>O<sub>3</sub> - 1.65 g Fe = <strong>0.71 g O<sub>2</sub></strong></li>
                                    <li><strong>C!!!!</strong><br> The NaCl did not disappear, nor did the water gain anything other than the added salt.</li>
                                </ol>
                            </div>
                        </div>               
                    </section>
                </section>
            {% elif page == 2 %}
                <section class="row justify-content-center">
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Key Terms for Chemical Equations</h3>
                        <video id="lesson-video" class="border border-dark intro-vid" src="{{url_for('static', filename='rxn_vocab.mp4')}}" width="100%" height="auto" controls></video>
                        <div>
                            <label for="speed-select">Speed: </label>
                            <select id="speed-select" class="vid-controls">
                                <option value="0.5">0.5x</option>
                                <option value="1.0" selected>1.0x (Normal)</option>
                                <option value="1.5">1.5x</option>
                                <option value="2.0">2.0x</option>
                            </select>
                        </div>
                    </section>
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Chemical Reaction Breakdown</h3>
                        <figure class="figure frame-fig">
                            <img src="{{url_for('static', filename='rxn_vocab.png')}}" class="figure-img img-fluid" alt="Diagram labeling the differences between chemical formulas and chemical equations, reactants vs. products, and coefficients vs. subscripts.">
                        </figure>
                        <hr>              
                        <p class="sub-instructions" style="text-align: center;">Watch the video for more details!</p>
                    </section>
                </section>
            {% elif page == 3 %}
                <section class="row justify-content-center">
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">How To Balance</h3>
                        <ol id="bullet_list" class="frame-text text-left bullets">
                            {% for entry in page_4_text %}
                                {% if page_4_text.index(entry) == 0 %}
                                    <li>{{entry | safe}}</li>
                                {% else %}
                                    <li class="hidden-item">{{entry | safe}}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <button id="reveal-btn" class="btn btn-success dynamic-button" onclick="revealNextItem()">Next Item</button>
                    </section>
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Balancing Walkthrough</h3>
                        <video id="lesson-video" class="border border-dark intro-vid" src="{{url_for('static', filename='how_to_balance_vid.mp4')}}" width="100%" height="auto" controls></video>
                        <div>
                            <label for="speed-select">Speed: </label>
                            <select id="speed-select" class="vid-controls">
                                <option value="0.5">0.5x</option>
                                <option value="1.0" selected>1.0x (Normal)</option>
                                <option value="1.5">1.5x</option>
                                <option value="2.0">2.0x</option>
                            </select>
                        </div>
                    </section>
                </section>
            {% else %}
                <section class="row justify-content-center">
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Balance the equation shown on the right.</h3>
                        <ul class="sub-instructions bullets">
                            <li>Type a coefficient in front of each chemical formula.</li>
                            <li>If a coefficient equals 1, you may fill in that value OR leave the space blank.</li>
                            <li>Use scrap paper to make a counting chart and work out the details!</li>
                        </ul>
                    </section>
                    <section class="col-6 text-center border border-dark bce-table">
                        <h3 class="frame-heading">Practice</h3>
                        {% with messages = get_flashed_messages(with_categories=True) %}
                            <form action="/balancing_rxns/4" method="POST">
                                <section class="row">
                                    {# Split reaction into reactant and product sides. #}
                                    {% set sides = session['rxn_to_balance'][1].split('->') %}
                                    {% set reactants = sides[0].split('__') %}
                                    {% set products = sides[1].split('__') %}
                                    <div class="col" style="text-align: right;">
                                        {% for formula in reactants[1:] %}
                                            {% if answers %}
                                                <input type="number" id="entry{{loop.index}}" name="box{{loop.index}}" class="coeff-input" value="{{answers[0][loop.index-1]}}">
                                            {% else %}
                                                <input type="number" id="entry{{loop.index}}" name="box{{loop.index}}" class="coeff-input" placeholder="?">
                                            {% endif %}
                                            <label for="entry{{loop.index}}">{{formula}}</label>
                                        {% endfor %}
                                    </div>
                                    <div class="col-1" style="text-align: center;">
                                        &rarr;
                                    </div>
                                    <div class="col" style="text-align: left;">
                                        {% for formula in products[1:] %}
                                            {% if answers %}
                                                <input type="number" id="entry{{loop.index + reactants[1:]|length}}" name="box{{loop.index + reactants[1:]|length}}" class="coeff-input" value="{{answers[0][loop.index + reactants[1:]|length - 1]}}">
                                            {% else %}
                                                <input type="number" id="entry{{loop.index + reactants[1:]|length}}" name="box{{loop.index + reactants[1:]|length}}" class="coeff-input" placeholder="?">
                                            {% endif %}
                                            <label for="entry{{loop.index + reactants[1:]|length}}">{{formula}}</label>
                                        {% endfor %}
                                    </div>
                                </section>
                                <hr>
                                <section class="row">
                                    <div class="col">
                                        {% if messages %}
                                            {% set message = messages[0] %}
                                            <p class='{{message[0]}}' style="font-size: 1.3vw">{{message[1]}}</p>
                                        {% else %}
                                            <p class="note">Click <strong><em>Check Answer</em></strong> to receive feedback on your balancing.</p>
                                        {% endif %}
                                    </div>
                                </section>
                                <br>
                                <section class="container-fluid wrapper text-center button-box">
                                    <a class="btn btn-info dynamic-button" href="/balancing_rxns/4" role="button">New Reaction</a>
                                    {% if session['check_answers_button'] %}
                                        <button type="submit" class="btn btn-success dynamic-button">Check Answer</button>
                                    {% endif %}
                                </section>
                                <br>
                            </form>
                        {% endwith %}
                    </section>
                </section>
            {% endif %}
        </section>
    </section>
{% endblock %}