{% extends "tutorials_base.html" %}

{% block content %}
    <section class="wrapper text-center">
        <h2 class="subheading">{{subheadings[page-1]}}</h2>
        <section class="container-fluid frame-width">
            {% if page == 1 %}
                <section class="row justify-content-center">
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">What if we are missing one or more formulas?</h3>
                        <ul id="bullet_list" class="frame-text text-left bullets">
                            {% for item in bullet_points %}
                                {% if bullet_points.index(item) == 0 %}
                                    <li class>{{item | safe}}</li>
                                {% else %}
                                    <li class="hidden-item">{{item | safe}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <button id="reveal-btn" class="btn btn-success dynamic-button" onclick="revealNextItem()">Next Item</button>
                    </section>
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Writing Chemical Formulas Review</h3>
                        <p class="frame-text">Identify the chemical formula for each of the following:</p>
                        <ol class="frame-text text-left bullets">
                            <li>Carbon dioxide</li>
                            <li>Magnesium chloride</li>
                            <li>Aluminum oxide</li>
                            <li>Iron (III) sulfate</li>
                            <li>Diboron hexahydride</li>
                        </ol>
                        <p class="d-inline-flex gap-1">
                            <button class="btn btn-info reveal-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Show/Hide Answers
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="frame-text text-left">
                                <ol class="bullets">
                                    <li>CO<sub>2</sub></li>
                                    <li>MgCl<sub>2</sub></li>
                                    <li>Al<sub>2</sub>O<sub>3</sub></li>
                                    <li>Fe<sub>2</sub>(SO<sub>4</sub>)<sub>3</sub></li>
                                    <li>B<sub>2</sub>H<sub>6</sub></li>
                                </ol>
                            </div>
                        </div>            
                    </section>
                </section>
            {% elif page == 2 %}
                <section class="row justify-content-center">
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">The reaction characteristics stay the same!</h3>
                        <ul id="bullet_list" class="frame-text text-left bullets">
                            {% for item in bullet_points %}
                                {% if bullet_points.index(item) == 0 %}
                                    <li class>{{item | safe}}</li>
                                {% else %}
                                    <li class="hidden-item">{{item | safe}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <button id="reveal-btn" class="btn btn-success dynamic-button" onclick="revealNextItem()">Next Item</button>
                    </section>
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Identify the reaction type for each option shown below.</h3>
                        <ol class="frame-text text-left bullets">
                            <li>NaBr + F<sub>2</sub> -> ____ + ____</li>
                            <li>C + H<sub>2</sub>O -> ____</li>
                            <li>Li<sub>3</sub>PO<sub>4</sub> + MgCl<sub>2</sub> -> ____ + ____</li>
                            <li>____ -> ____ + ____ + ____</li>
                            <li>____ + O<sub>2</sub> -> Fe<sub>2</sub>O<sub>3</sub></li>
                        </ol>
                        <p class="d-inline-flex gap-1">
                            <button class="btn btn-info reveal-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Show/Hide Answers
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <h3 class="frame-heading">The reaction types are:</h3>
                            <div class="frame-text text-left">
                                <ol class="bullets">
                                    <li>Single replacement</li>
                                    <li>Synthesis</li>
                                    <li>Double replacement</li>
                                    <li>Decomposition</li>
                                    <li>Combustion AND Synthesis<br> (Sometimes more than one reaction type works!)</li>
                                </ol>
                            </div>
                        </div>
                    </section>
                </section>
            {% elif page == 3%}
                <section class="row justify-content-center">
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Predicting Ionic Products</h3>
                        <video id="lesson-video" class="border border-dark intro-vid" src="{{url_for('static', filename='predict_ionic_prods.mp4')}}" width="100%" height="auto" controls></video>
                        <div>
                            <label for="speed-select">Speed: </label>
                            <select id="speed-select" class="vid-controls">
                                <option value="0.5">0.5x</option>
                                <option value="1.0" selected>1.0x (Normal)</option>
                                <option value="1.5">1.5x</option>
                                <option value="2.0">2.0x</option>
                            </select>
                        </div>
                    </section>
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Practice</h3>
                        <ol class="frame-text text-left bullets">Predict the missing products for the reactions below:
                            {% for item in bullet_points %}
                                <li>{{item | safe}}</li>
                            {% endfor %}
                        </ol>
                        <p class="d-inline-flex gap-1">
                            <button class="btn btn-info reveal-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Show/Hide Answers
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <h3 class="frame-heading">The products are:</h3>
                            <div class="frame-text text-left">
                                <ol class="bullets">
                                    <li>Answer dolor...</li>
                                    <li>Second dolor...</li>
                                    <li>Third dolor...</li>
                                </ol>
                            </div>
                        </div>
                    </section>
                </section>                
            {% elif page == 4 %}
                <section class="row justify-content-center">
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Predicting Combustion Products</h3>
                        <video id="lesson-video" class="border border-dark intro-vid" src="{{url_for('static', filename='predict_conb_prods.mp4')}}" width="100%" height="auto" controls></video>
                        <div>
                            <label for="speed-select">Speed: </label>
                            <select id="speed-select" class="vid-controls">
                                <option value="0.5">0.5x</option>
                                <option value="1.0" selected>1.0x (Normal)</option>
                                <option value="1.5">1.5x</option>
                                <option value="2.0">2.0x</option>
                            </select>
                        </div>
                    </section>
                    <section class="col-6 text-center border border-dark bce-table">
                        <h3 class="frame-heading">Practice</h3>
                        {% with messages = get_flashed_messages(with_categories=True) %}
                            <p>ID products practice question(s)...</p>
                        {% endwith %}
                    </section>
                </section>
            {% else %}
                <section class="row justify-content-center">
                    <section class="col-6 text-center border border-dark">
                        <h3 class="frame-heading">Identify What's Missing</h3>
                        <ul class="sub-instructions bullets">
                            {% for item in bullet_points %}
                                <li>{{item | safe}}</li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="col-6 text-center border border-dark bce-table">
                        <h3 class="frame-heading">Practice</h3>
                        {% with messages = get_flashed_messages(with_categories=True) %}
                            {% for question in questions %}
                                {{question[1]}}
                                <hr>
                            {% endfor %}
                        {% endwith %}
                        <section class="container-fluid wrapper text-center button-box">
                            <a class="btn btn-info dynamic-button" href="/predict_prods/5" role="button">New Reactions</a>
                            {% if session['check_answers_button'] %}
                                <button type="submit" class="btn btn-success dynamic-button">Check Answer</button>
                            {% endif %}
                        </section>
                    </section>
                </section>
            {% endif %}
        </section>
    </section>
{% endblock %}