{% extends "tutorials_base.html" %}

{% block content %}
    <section class="wrapper text-center">
        <h2 class="subheading">{{subheading}}</h2>
    </section>
    <section class="container-fluid row justify-content-center">
        <section class="col-6 text-center border border-dark">
            {% if page != 6 %}
                <h3 class="frame-heading">Reaction Characteristics</h3>
                {% if page == 7 %}
                    <p class="frame-text text-left">The following reaction types exist but will not be assessed on this website:</p>
                {% endif %}
                <ol id="bullet_list" class="frame-text text-left bullets" type="a">
                    {% for item in bullet_points %}
                        {% if bullet_points.index(item) == 0 %}
                            <li class>{{item | safe}}</li>
                        {% else %}
                            <li class="hidden-item">{{item | safe}}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <button id="reveal-btn" class="btn btn-success dynamic-button" onclick="revealNextItem()">Next Item</button>
            {% else %}
                <p class="frame-heading">Identify the reaction type for each equation shown on the right.</p>
                <ul class="sub-instructions bullets">
                    <li>You do NOT need to balance the equation to identify the reaction type!</li>
                    <li>Click <em>Check Answers</em> to show the accuracy of your choices.</li>
                    <li>When you make a mistake, pick a different answer and check again.</li>
                    <li>Click <em>New Reactions</em> to refresh the equations.</li>
                    <li><u>NOTE</u>: Sometimes reactions fall into more than one category! For example, <br> <strong>4Fe + 3O<sub>2</sub> -> 2Fe<sub>2</sub>O<sub>3</sub></strong> is both a synthesis AND a combustion reaction.</li>
                </ul>
            {% endif %}
        </section>
        <section class="col-6 text-left border border-dark">
            {% if page <= 5 %}
                <h3 class="frame-heading">Demo of a {{subheading}} Reaction</h3>
                <video class="border border-dark intro-vid" width="100%" height="auto" controls>
                    Video goes here!
                </video>
            {% elif page == 6 %}
                <h3 class="frame-heading">Practice!</h3>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    <form action="/rxn_types/{{page}}" method="POST">
                        {% for question in questions %}
                            <section class="bce-table text-center" {% if questions.index(question)%2 != 0 %}style="color:purple"{% endif %}>
                                {{question[1]}}
                            </section>
                            <section class="row quiz-table border-bottom">
                                <section class="col-5 text-left" {% if questions.index(question)%2 != 0 %}style="color:purple"{% endif %}>
                                    {% for rxn in rxn_types %}
                                        {% set index = "answer_" ~ question[0] ~ "_" ~ loop.index %}
                                        <div class="form-check" style="font-size: 1.2vw;">
                                            {% if answers and answers[question[0]-1] == rxn %}
                                                <input name="answer_{{question[0]}}" class="form-check-input" type="radio" id="{{index}}" value={{rxn}} checked required>
                                            {% else %}
                                                <input name="answer_{{question[0]}}" class="form-check-input" type="radio" id="{{index}}" value={{rxn}} required>
                                            {% endif %}
                                            <label class="form-check-label" for="{{index}}">{{rxn.replace('_',' ').title()}}</label>
                                        </div>
                                    {% endfor %}
                                </section>
                                <section class="col-7 align-self-center">
                                    {% if messages %}
                                        {% set item = questions.index(question) %}
                                        {% set message = messages[item] %}
                                        <span class='{{message[0]}}' style="font-size: 1.3vw">{{message[1]}}</span>
                                    {% endif %}
                                </section>
                            </section>
                        {% endfor %}
                        <section class="button-box">
                            <button type="submit" class="btn btn-success dynamic-button">Check Answers</button>
                            <a class="btn btn-info dynamic-button" href="/rxn_types/{{page}}" role="button">New Reactions</a>
                        </section>
                        <br>
                    </form>
                {% endwith %}
            {% else %}
                <h3 class="frame-heading">Reactions Not Appearing in This Film</h3>
                <div class="frame-text">Figure for dissociation reaction...</div>
                <div class="frame-text">Figure for acid/base reaction...</div>
                <div class="frame-text">Figure for redox reaction...</div>
            {% endif %}
        </section>
    </section>
{% endblock %}