{% extends "base.html" %}

{% block content %}
    <section class="container-fluid wrapper text-center">
        <h1 class="main-heading">{{page_title}}</h1>
        <section>
            <p class="instructions">Select the reaction type for each of the following.</p>
            <ul class="sub-instructions">
                <li>You do NOT need to balance the equation to identify the reaction type.</li>
                <li>For reactions that fall into more than one category, choosing any of those options is OK.</li>
            </ul>
        </section>
    </section>
    <section class="container-fluid wrapper text-left">
        {% with messages = get_flashed_messages(with_categories=True) %}
            <form action="/types_practice" method="POST">
                <table class="table table-hover table-bordered quiz-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col" style="width: 2%;"></th>
                            <th scope="col" style="width: 35%;">Unbalanced Reaction</th>
                            <th scope="col" style="width: 63%;">Reaction Types</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in questions %}
                            <tr>
                                <th scope="row">{{question[0]}}</th>
                                    <td>
                                        {{question[1]}}
                                        {% if messages %}
                                            {% set item = questions.index(question) %}
                                            {% set message = messages[item] %}
                                            <span class='{{message[0]}}' style="font-size: 1.3vw">{{message[1]}}</span>
                                        {% endif %}
                                    </td>
                                <td>
                                    {% for rxn in rxn_types %}
                                        {% set index = "answer_" ~ question[0] ~ "_" ~ loop.index %}
                                        <div class="form-check form-check-inline">
                                            {% if answers and answers[question[0]-1] == rxn %}
                                                <input name="answer_{{question[0]}}" class="form-check-input" type="radio" id="{{index}}" value={{rxn}} checked required>
                                            {% else %}
                                                <input name="answer_{{question[0]}}" class="form-check-input" type="radio" id="{{index}}" value={{rxn}} required>
                                            {% endif %}
                                            <label class="form-check-label" for="{{index}}">{{rxn.replace('_',' ').title()}}</label>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th></th>
                            <td class="text-center">
                                <a class="btn btn-info dynamic-button" href="/types_practice" role="button">New Reactions</a>
                                <a class="btn btn-primary dynamic-button" href="/" role="button">Main Menu</a> 
                            </td>
                            <td class="text-center">
                                {% if session['check_answers_button'] %}
                                    <button type="submit" class="btn btn-success dynamic-button">Check Answers</button>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </form>
        {% endwith %}
    </section>
    <section class="container wrapper text-center">
        <p class="record">Progress = {{session['numCorrect']}}/{{session['num_attempted']}} ({{percentage}}%)</p>            
    </section>
    <hr>
    <section class="container-fluid wrapper">
        <p class="error frame-text text-center">
            <u>Caution</u>: Avoid using the Back button in your browser menu!<br>
            <span class="note frame-text">Use the <strong>New Reactions, Main Menu,</strong> and <strong>Check Answers</strong> buttons to navigate instead.</span>
        </p>
    </section>
{% endblock %} 